<div class="row">
  <div class="col-md-6">
  <%= f.field_container :redemption_code, class: ['form_group'] do %>
    <%= f.label :redemption_code, Spree.t('admin.gift_cards.redemption_code') %>: <%= f.text_field :redemption_code %>
  <% end %>
  </div>
</div>